html {
  text-align: center;
  font-family: helvetica, sans-serif;
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

.hero {
  background-image: url('file:///Users/Francis/Dropbox/Code%20Academy/projects/broadwaydesign/resources/images/the-flatiron-building.png');
}

.banner {
  background-image: url('../resources/images/the-flatiron-building.png');
}

.footer {
  color: white;
  font-size: 11px;
  text-align: left;
  background-color: dimgray;
}

.footernav {
  color: white;
  font-size: 14px;
}
